# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
# *.log

# Environnements virtuels
.venv/
venv/
env/
ENV/

# PyInstaller



# Fichiers de configuration locaux
*.local
*.env
.env.*

# IDEs/Editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.cursor

# Systèmes d'exploitation
.DS_Store
Thumbs.db

# Installateurs
# *.exe
# *.dmg
# *.AppImage

# Fichiers temporaires divers
*.tmp
*.bak
*.swp
*.~lock.*

# video files
*.mp4
*.avi
*.mkv
*.mov
*.wmv


# Old version
old_CookiNUMnetwork
temp
# ressources/mediamtx/mediamtx.yml
# ressources/mediamtx/LICENSE
# Ressources directory
# ressources/

# PyInstaller
dist/
build/
*.spec





tags/
video_files/
# resources/


test
