# UI
# PyQt6>=6.4.2
# PyQt6-Qt6>=6.4.2
# PyQt6-sip>=13.4.0
# qt_material==2.14
PySide6

# Video Processing
opencv-python>=4.8.0
python-vlc
av>=10.0.0

# Voice Recognition
vosk
sounddevice==0.4.6
numpy==1.24.3
scikit-learn==1.3.0
num2words==0.5.12


# QR Code
qrcode>=7.3.1
